<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <router-outlet></router-outlet>

    <!-- ACTIVITY 4 -->
    <!-- <app-parent></app-parent> -->

    <!-- ACTIVITY 5 & 6 -->
    <!-- <app-act5-parent></app-act5-parent> -->

    <!-- 7 -->
    <!-- 
<app-act7-template-driven></app-act7-template-driven>
<app-reactive-form></app-reactive-form> -->

    <!-- <app-http-request></app-http-request> -->
    <!-- <app-registration></app-registration> -->
</body>